* {
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;
}

.foreground {
    background: rgba(25,255,255,0.75);
    height: 94vh;
    margin-left: 15%;
    margin-right: 15%;
}

.navbar {
    background: rgb(25, 78, 127);
    color: rgb(255, 200, 200);
    height: 6vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: right;
}

.navbar li {
    display: inline;
    float: left;
    border-right: 2px solid rgb(56, 114, 168);
}

.navbar a {
    display: block;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    height: 6vh;
}

.navbar a:hover {
    background-color: rgb(147, 75, 189);
}

.navbar a:visited {
    color: rgb(255, 200, 200);
}

.title {
    background: rgb(25, 127, 127);
}