:root {
  --window-light: rgb(255, 255, 255);
  --window-normal: rgb(233, 234, 214);
  --window-dark: rgb(116, 117, 107);
}

@font-face {
  font-family: WindowsCommandPrompt;
  src: url(../assets/Windows-Command-Prompt.woff);
}

/*body {
  background-image: url("../assets/windowsxp.jpg");
  background-size: cover;
  background-position: bottom;

  overflow-y: hidden;
  overflow-x: hidden;
}*/

/*This is taken out for the moment so v1 works properly*/

.intro-text {
  color: white;
  font-family: "Poppins";
}

.window {
  position: absolute;
  margin-left: var(--xpos);
  margin-top: var(--ypos);
  /*height: auto;*/
  width: fit-content;
  min-width: max-content;

  font-size: 2em;
  color: white;

  outline-style: solid;
  outline-width: 4px;
  outline-offset: -6px;
  outline-color: var(--window-normal);

  border-style: solid;
  border-width: 6px;
  border-color: var(--window-light) var(--window-dark) var(--window-dark) var(--window-light);

  display: flex;
  flex-direction: column;
}

.window .header {
  min-width: max-content;

  padding-left: 4px;
  padding-bottom: 0;

  /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
  font-family: WindowsCommandPrompt, monospace;

  background-image: linear-gradient(90deg, darkblue, lightblue);
  
  border-bottom: 2px solid var(--window-normal);

  user-select: none;
}

.window .header p {
  margin: 1px;
}

.window .header button {
  float: right;
  padding: 0px;
  margin: 1px 0px 1px 0px;

  background-color: var(--window-normal);
  border-color: var(--window-light) var(--window-dark) var(--window-dark) var(--window-light);

  line-height: calc(1.43em - 5px);
  font-size: 0.7em;
}

.window .header .close {
  margin: 1px 2px 1px 3px;
}

.window .content {
  width: var(--width);
  height: var(--height);
  min-width: 100%;
  min-height: max-content;

  font-family: WindowsCommandPrompt, monospace;

  background-color: black;
  
  border-style: inset;
  border-width: 2px;
  border-color: var(--window-normal);

  display: flex;
  flex-direction: column;

  overflow: auto;
  resize: both;
}

.window .content p {
  margin: 0px 4px 0px 4px;
}

.window .content h1 {
  margin: 1em 4px 0px 4px;
  align-self: center;
}

.window .content h3 {
  margin: 1em 4px 0px 4px;
}

.window .content .output {
  white-space: pre-line;
  height: 100%;
}

.window .content .output .expanding-console-text {
  line-height: 1em;
  text-wrap-mode: nowrap;
}

.window .popup-content {
  font-size: 0.8em;
  min-height: 0;
}

.window .popup-content p {
  margin: 1em 4px 0px 4px;
}

.window .popup-content .github-link {
  font-size: 1.25em;
  text-align: center;
  margin: 0.5em 0px 0px 0px;
}

.window .popup-content a {
  color:aquamarine;
}

.window .popup-content a:hover {
  color: transparent;
  text-decoration: underline blue;

  background: linear-gradient(
    90deg,
    aquamarine,
    blue,
    aquamarine
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;

  animation: gradientanimation 2s linear infinite;
}

@keyframes gradientanimation {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.blink {
  animation-name: blink;
  animation-duration: 1.05s;
  animation-iteration-count: infinite;
  opacity: 1;
}

@keyframes blink {
  49% {opacity: 1;}
  50% {opacity: 0;}
  99% {opacity: 0;}
  100% {opacity: 1;}
}

.grabbed {
  cursor: grabbing;
}

.ungrabbed {
  cursor: grab;
}
/* I should move like half of this back to NavWindowBox for navwindow specific parts (headers, content, etc) */

/*Maybe to fix expanding console text I need a css file for it
Also make expanding console text so that when you hover a child it underlines it*/