a, a:link, a:visited, a:active {
  text-decoration: none;
  color: white;
}

.expanding-console-text a:hover {
  text-decoration: underline white;
  color: white !important;
  cursor: pointer;
}

.popUpLink:hover {
  text-decoration: underline;
  cursor: pointer;
}