.nav-container {
  position: sticky;
  top: 0;
  padding: 1em 2em 2em 2em;
  display: inline-flex;
  width: 100%;
  background-image: linear-gradient(to top, rgba(30, 0, 62, 0.75), rgba(15, 108, 158, 0.75));
  z-index: 1;
}

.site-title {
  top: 0;
  height: 2em;
  min-height: 2em;
  width: 20em;
  color: wheat;
}

.nav-links-container {
  margin-right: 0;
  margin-left: auto;
}

.nav-links {
  color: wheat;
  list-style-type: none;
}

.nav-links li {
  float: right;
  text-underline-offset: 0em;
  text-decoration: underline rgba(245,222,179,0);
  transition-property: text-underline-offset, text-decoration;
  transition-duration: 0.5s;
}

.nav-links li a {
  padding: 1em;
  height: 100%;
}

.nav-links .active {
  text-decoration: underline wheat;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.5em;
}

.nav-links li:not(.active):hover {
  text-decoration: underline wheat;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.5em;
}