:root {
  --opacity-high: 0.6;
  --opacity-low: 0.3;
}
.panel-container {
  width: max(27em, 30%);
  margin: 0.5em 1em 0.5em 1em;
  position: relative;
  overflow: hidden;
  display: inline-block;
  aspect-ratio: 16 / 9;
  border-radius: 2em;
  transition-duration: 0.5s;
}

.panel-container .title {
  color: white;
  position: absolute;
  top: 0.5em;
  left: 1em;
  font-size: 1.7em;
  font-weight: bold;
  text-align: left;
  max-width: 80%;
}

.panel-container .github {
  position: absolute;
  width: 2em;
  top: 1em;
  right: 1em;
  filter: invert(100);
  transition: width 0.25s;
}

.panel-container .github:hover {
  width: 2.5em;
}

.panel-container .technologies {
  position: absolute;
  height: 2em;
  bottom: 1em;
  left: 1em;
}

.technologies img {
  margin-right: 0.5em;
  width: 2em;
  height: 2em;
}

.panel-container .description {
  color: white;
  position: absolute;
  bottom: 4em;
  opacity: 0;
  text-align: left;
  font-size: 1em;
  margin-left: 1em;
  margin-right: 1em;
  transition: opacity 0.5s;
}

.panel-container:hover .description {
  opacity: 1;
}

.panel-container .bg-img {
  width: 100%;
  left: 0;
  opacity: var(--opacity-high);
  position: absolute;
  transition: opacity 0.5s, filter 0.5s;
}

.panel-container:hover .bg-img {
  opacity: var(--opacity-low);
  filter: blur(4px);
}

.panel-container:hover {
  width: calc(max(27em, 30%) + 2em);
  margin: 0em;
}
